body{
    font-family: "Ubuntu Sans", sans-serif;
}


html, body {
    height: 100%;
    margin: 0;
  }
  
  .hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .gambarBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .gambarBG img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
  
  .center-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .center-content img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .center-content a {
    margin-top: -55px;
    display: inline-block;
  }
  
  /* tombol */
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem; /* Sesuaikan lebar sesuai kebutuhan */
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#d66060 45%, #f78717 67%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-decoration: none;
    white-space: nowrap; /* Pastikan teks tidak membungkus */
    text-overflow: ellipsis; /* Potong teks yang terlalu panjang dengan elipsis */
    overflow: hidden; /* Sembunyikan teks yang melampaui batas elemen */
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 18px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  /* akhir tombol */



  /* partikel */
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 1.5s infinite;
  }

  @keyframes twinkle {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  /* akhi partikel */


  /* loading */
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .loading-overlay.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ebcb1a;
    border-bottom: 16px solid #eb8d1a;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .content {
    display: none;
  }

  .content.visible {
    display: block;
  }
  /* akhir loading */
  

  #background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: brightness(50%); /* Menambahkan efek samar */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay hitam transparan */
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3em;
    margin: 0.5em 0;
}

p {
    font-size: 1.5em;
    margin: 0.5em 0;
}


.cursor {
    font-weight: bold;
    display: inline-block;
    width: 10px;
    background-color: black;
    margin-left: 5px;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { background-color: transparent; }
}

.teksUtama{
  font-family: 'Cinzel', serif;
}

.cinzel-regular {
    font-weight: 400;
}

.cinzel-bold {
    font-weight: 100;
}

h1, .cinzel-bold {
    letter-spacing: 1.5px; /* Spaziatura tra lettere */
    text-transform: uppercase; /* Maiuscole */
}

p {
    font-size: 1.2em; /* Dimensione del testo leggermente più grande */
    line-height: 1.6; /* Altezza della linea per migliorare la leggibilità */
}

.hero2{
  background-color: black;
}


@media only screen and (max-width: 900px){
 .gam2{
  display: none;
 }

}

/* present */
.present{
  background-color: #161616;
}
/* akhir present */

